
.time-container {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 15px;
  background-color: #F9A825; /* Yellow color */
  color: #000000; /* Black color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 5px;
  animation-name: growAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  
}

.time-container:hover {
  background-color: #FFD600; /* Brighter yellow color on hover */
  transform: scale(1.05);
}

.time-list {
  list-style-type: none; /* Remove default bullet points */
  padding: 0;
  margin: 0;
}

@keyframes growAnimation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}



.time {
  margin-top: 20px; /* Add some space above the average time display */
  font-size: 20px; /* Make the average time slightly larger */
  font-weight: bold; /* Make the average time bold */
}

.time-list li {
  animation: fade-in 0.5s ease-in-out forwards;
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}