
.time-container {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 15px;
  background-color: #F9A825; /* Yellow color */
  color: #000000; /* Black color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 5px;
  
}

.time-list {
  list-style-type: none; /* Remove default bullet points */
  padding: 0;
  margin: 0;
}

.time-item {
  font-size: 18px; /* Adjust font size as needed */
  margin-bottom: 10px; /* Add some space between items */
  background-color: #F9A825; /* Add a background color for better readability */
  padding: 10px; /* Add some padding around the text */
  border-radius: 5px; /* Optional: round the corners for a softer look */
}

.time {
  margin-top: 20px; /* Add some space above the average time display */
  font-size: 20px; /* Make the average time slightly larger */
  font-weight: bold; /* Make the average time bold */
}
