.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-top: 20px;
    height: 100vh;
  }
  
  .nav-bar {
    position: relative;
    width: 100%;
  }
  
  .timer-container {
    position: fixed;
    left: 0;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }

  .rubiks-cube-container {
    perspective: 800px;
    margin: 100px auto;
    position: fixed;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  .rubiks-cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    animation: rotate 10s infinite linear;
  }
  
  /* Add media query for smaller window size */
  @media (max-width: 768px) {
    .rubiks-cube-container {
      bottom: 140px;
    }
  
    .rubiks-cube {
      width: 150px;
      height: 150px;
    }
  }
  
  


  .last-times-container {
    position: fixed;
    right: -100%;
    top: 200px;
    height: auto;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    color: white;
    overflow-y: auto;
   transition: right 0.3s ease-in-out, min-height 0s linear 0.3s, height 0.5s ease-in-out; /* Adjust the transition duration for height */
    pointer-events: none;
  }
  
  .last-times-container.open {
    right: 0;
    min-height: 50px;
    height: auto;
    pointer-events: auto;
    transition-delay: 0s;
  }
  

  .high-scores-container {
    position: center;
    left: 0;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    color: white;
    overflow: hidden;
    pointer-events: none; /* Disable interactions when the container is hidden */
    z-index: 1;
    opacity: 0; /* Hide the container */
    transform: translateX(-100%); /* Push the element to the left by its own width */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Add transition for opacity */
}

.high-scores-container.show {
    pointer-events: auto; /* Enable interactions when the container is visible */
    opacity: 1; /* Show the container */
    transform: translateX(0); /* Pull the element back to its original position */
}

  
 

  @media (max-width: 768px) {
    .timer-container {
      display: flex;
      justify-content: center;
      margin-top: 140px;
    }
    .last-times-container {
      position: fixed;
      right: -100%; /* Initial position at the right edge of the screen */
      top: 260px;
      transform: translateX(0); /* Keep the container visible on the screen */
      height: auto;
      min-height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 30px;
      color: white;
      overflow-y: auto;
      transition: right 0.3s ease-in-out, min-height 0s linear 0.3s, height 0.5s ease-in-out;
      pointer-events: none;
    }
    
    .last-times-container {
      right: 100;
      min-height: 50px;
      height: auto;
      pointer-events: auto;
      transition-delay: 0s;
    }
    
  
    .high-scores-container {
      position: center;
      left: 80%;
      top: 35px;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; /* Center horizontally */
      padding-top: 20px;
      color: white;
      overflow: hidden;
      pointer-events: none;
      z-index: 1;
      opacity: 0;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
  
    
  }
  